/* ==== VARIABLES ==== */
$color-primary: #609ddb;
$color-white: #ffffff;
$color-gray-light: #eee;
$color-gray-med: #bbb;

@import url('https://fonts.googleapis.com/css?family=Lobster');

.white {
    color: $color-white;
}

.gray {
    color: $color-gray-light;
}

.italics {
    font-style: italic;
}

.thin {
    font-weight: 300;
}


/* ==== JUMBOTRON ==== */
.summit-jumbotron {
    background: 
        linear-gradient(
            rgba($color-primary, 0.8),
            rgba($color-primary, 0.8)
        ),
        url('../images/summit-header-image.jpg');
    background-blend-mode: color;
    color: #e3e3e3;
    a {
        color: #e3e3e3;
        transition: all 0.2s ease-in-out;
        &:hover {
            color: rgba(#e3e3e3, 0.85);
        }
    }
    h1 a {
        color: $color-white;
        &:hover{
            color: rgba($color-white, 0.85);
        }
    }
}

.header-container {
    background-color: rgba(10, 10, 20, 0.55);
    padding: 2.5em;
    border-radius: 10px;
    border: 4px $color-white solid;
    box-shadow: 0px 8px 16px -4px #000;
}

.summit-logo {
    background-color: $color-white;
    display: inline;
    max-height: 250px;
}

#join-us {
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1.35em;
    font-weight: 700;
    letter-spacing: 2px;
}

/* ==== BODY ==== */
.summit-body {
    a {
        color: $color-primary;
        font-weight: bold;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    color: #222;
}
.intro-text {
    font-size: 1.25em;
    line-height: 1.6;
    font-weight: 500;
    background-color: $color-gray-light;
    padding: 3.5em;
    box-shadow: 0px 8px 16px -4px #888;
    border-radius: 10px;
    border: 4px $color-gray-med solid;
    p:last-of-type {
        margin-bottom: 0;
    }
}

.card-body {
    padding: 1.75rem;
}

.testimonial-img-container {
    flex: 1 1 25%;
    img {
        display: block;
        margin: auto;
        max-height: 200px;
        border-radius: 50%;
    }
}

.testimonial-quote {
    flex: 1 1 75%;
}

.benefits {
    position: relative;
}

.circle-border:before {
    content: " ";
    position: absolute;
    z-index: 2;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 5px solid $color-white;
    border-radius: 50%
  }

.circle-border {
    position: relative;
    border: 8px solid $color-primary;
    &:hover {
        border-color: #5A78B6;
    }
}

.circle-container {
    background-color: $color-primary;
    color: $color-white;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45px;
    right: 45px;
    box-shadow: 0px 8px 16px -4px #888;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: #5A78B6;
        transform: rotate(-2.5deg);
    }
}

.call-out {
    font-family: 'Lobster', cursive;
    font-size: 2.25rem;
    line-height: 1.1;
    transform: rotate(10deg);
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.pricing-card {
    margin-bottom: 64px;
    box-shadow: 0px 8px 16px -4px #888;
    .card-header {
        background-color: $color-primary;
        color: $color-white;
        font-size: 1.876rem;
    }
}


.table {
    font-size: 1.25rem;
    text-align: left !important;
    margin: 1rem 0;
    padding: 1rem;
    tr:last-of-type {
        border-bottom: 1px solid #dee2e6;
    }
    td {
        padding: 1.25rem;
    }
}

.pricing-card .table a {
    color: #222;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
        color: $color-primary;
        text-decoration: none;
    }
}


/* ==== FOOTER ==== */
.summit-footer {
    a {
        color: $color-white;
    }
    background-color: $color-primary;
    color: $color-white;
    padding: 1em 0;
    p, ul {
        margin-bottom: 0;
    }
    ul {
        list-style: none;
        float: right;
    }
    p {
        float: left;
    }
    li {
        float: left;
        padding-right: 40px;
    }
    li:last-of-type {
        padding-right: 0px;
    }
}